<div [ngClass]="cardClasses()">

    <div class="course-title" [ngStyle]="cardTitleStyles()">
        {{index}} - {{course.description}}
    </div>
   
        <ng-content *ngIf="course.iconUrl; else noImage" ></ng-content>

        <ng-template #noImage>

            <ng-container *ngTemplateOutlet="noImageTemplate; context: {description: course.description}"></ng-container>
        </ng-template>

         <div class="course-category"> 
            @switch(course.category) {
                @case('BEGINNER') {
                    <p>BEGINNER</p>
                }
                @case('INTERMEDIATE') {
                    <p>INTERMEDIATE</p>
                }
                @case('ADVANCED') {
                    <p>ADVANCED</p>
                }
                @default {
                    <p>UNKNOWN</p>
                }
            }
         </div>

    <div class="course-description">
       {{course.longDescription}}
    </div>
    <button (click)="selectCourse()">View course</button>

</div>