<div class="top-menu">
  <img
    class="logo"
    src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"
  />
</div>
<button (click)="onEdit()">Edit courses</button>
<div> {{startDate | date: 'MMM/dd/yy' }}</div>

<ng-template #blankImage let-courseName="description" > 
    No image available {{courseName}}
</ng-template>

<!-- <ng-container *ngTemplateOutlet="blankImage; context: {description: courses[1].description}"> </ng-container> -->

<div class="only-one" *ngIf="courses[1] as course">
    <course-card
    #firstCard
    (courseSelected)="onCourseSelected($event)"
    [course]="courses[1]"
    [index]="1"
    [noImageTemplate]="blankImage"
  >
    
  <img width="300" alt="Angular Logo"
         [src]="course.iconUrl">

</course-card>
</div>
<!-- <div class="courses">
  <div @for=""></div>

  @for(course of courses; track course.id; let index= $index; let count =
  $count; let first = $first; let last= $last; let even = $even; let odd = $odd)
  {
  <h1>{{ count }}</h1>
  <course-card
    (courseSelected)="onCourseSelected($event)"
    [course]="course"
    [index]="index"
    [class.is-first]="first"
    [class.is-last]="last"
    [class.is-even]="even"
    [class.is-off]="odd"
  />
  } @empty {
  <h1>No course found</h1>
  }



  <!-- old syntax -->
  <!-- old way of using directive
  <course-card
    *ngFor="
      let course of courses;
      index as i;
      first as isFirst;
      last as isLast;
      even as isEven;
      odd as isOdd
    "
    (courseSelected)="onCourseSelected($event)"
    [course]="course"
    [index]="i + 1"
    [class.is-first]="isFirst"
    [class.is-last]="isLast"
    [class.is-even]="isEven"
    [class.is-off]="isOdd"
  ></course-card> -->
<!-- </div> -->
